$color-white: #fff;
$color-cream-white: #f2f2f2;
$color-gray-white: #e0e0e0;

$color-light-gray: #828282;
$color-gray: #4f4f4f;
$color-dark-gray: #333333;

$color-black: #000;

$color-yellow: #faff09;

$color-red: #eb5757;