@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$roboto-font: 'Roboto Condensed', sans-serif;
$roboto-font-weight-300: 300;
$roboto-font-weight-400: 400;
$roboto-font-weight-500: 500;
$roboto-font-weight-600: 600;
$roboto-font-weight-700: 700;